/* This stylesheet is applied to all pages. Many classes from Bootstrap are overridden here */
* {
  font-family:"Raleway", sans-serif;
  color: #ddd; 
  font-weight: 700; 
  margin: 0;
  padding:0;
  border-color: none !important;
}

html{ 
  background-color: #191b1d; 
}

body {
  background-color: #191b1d !important; 
  margin: 0;
}

div {
  background-color: #191b1d; 
  margin: 0;
  padding: 0;
}

h1 { 
  font-weight: 700; 
  font-size: 28px;
  margin-top: 0px !important;
}

h2 {
  font-weight: 700; 
  font-size: 20px;
}

#header h2 {
  font-weight: 700; 
  font-size: 28px;
}

#header h3 {
  font-weight: 700; 
  font-size: 20px;
}

#header p {
 font-weight: 300; 
  font-size: 1.0em;
}

h3, h4 { 
  font-family:"Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1;

 }

p { 
  font-family: "Open Sans";
  font-weight: 300;
  color: #ddd;
  font-size: 16px;

 }

p > b { 
  font-family: "Open Sans";
  font-weight: 700; 
  color: #ddd;
  font-size: 1.0em;
}

button { 
  font-weight: 300;
  color: #ddd;
  background: none;
  border: 1px dotted white;

}

button:active, button:hover, button:focus,  { 
    border: .5px solid white !important;
    font-weight: 700 !important;
    font-size: 16px !important;
    color: white !important;
    background-color: rgba(255, 255, 255, .2) !important;
    outline:none;
}

.footer { 
  clear: both;
  position: absolute;
  bottom: 0px;
  text-align: center;
  padding-top: 10px;
  opacity: .5;
}

.footer p { 
  font-size: 10px;
}

.axis text, .yaxis text { 
  font-family: "Open Sans";
}

.top-nav { 
  background-color: none !important;
  padding: 0px !important;
  margin: 0px !important;

}

.top-nav a  { 
  color: white;
  opacity: 1;
}

.top-nav a:hover, .top-nav a:focus, .top-nav a:active, .top-nav a.active  { 
  text-decoration: none;
  opacity: .8;
  font-weight: 700;
  border-bottom: 2px dotted white;
}

.I-90 { 
  color: #e7298a;
}
.I-93 { 
  color: #7570b3;
}
.I-95 { 
  color: #d95f02;
}
.I290 { 
  color: #66a61e;
}
.I495 { 
  color: #e6ab02;
}
.yr2007 { 
  color: #9e0142;
}
.yr2008 { 
  color: #d53e4f;
}
.yr2009 { 
  color: #f46d43;
}
.yr2010 { 
  color: #e6f598;
}
.yr2011 { 
  color: #abdda4;
}
.yr2012 { 
  color: #66c2a5;
}
.yr2013 { 
  color: #3288bd;
}

.yr2014 { 
  color: #5e3fa2;
}

/*These elements are only visible to screen readers*/
.accessible
{ 
  position:absolute;
  left:-10000px;
  top:auto;
  width:1px;
  height:1px;
  overflow:hidden;
}

.navbar-default {
    background-color: none !important;
    border-color: none !important;
}


.navbar-brand { 
  z-index: 9999;
}

.navbar-header { 
  z-index: 9999;
}

button.navbar-toggle {
  width: 10% !important;
}

#bs-example-navbar-collapse-2 { 
  border-color: none !important;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border-color: none !important;
}

.navbar-default .navbar-toggle {
    border-color: none !important;
    border: none !important;
    margin: 0px !important;
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background-color: rgba(0,0,0,0) !important;
}

.navbar-toggle { 
  position: absolute !important;
  right: 0px !important;
  padding: 20px !important;
  z-index: 9999;
  overflow: visible;
 }


