* {
  font-family:"Raleway", sans-serif;
  color: #ddd; 
  font-weight: 700; 
  margin: 0;
  padding:0;
}

html{ 
  background-color: #191b1d; 
}

body {
  background-color: #191b1d; 
  margin: 0;
}

div {
  background-color: #191b1d; 
  margin: 0;
  padding: 0;
}

h1 { 
  font-weight: 700; 
  font-size: 28px;
}

h2 {
  font-weight: 700; 
  font-size: 20px;
}

h3, h4 { 
  font-family:"Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1;

 }

p { 
  font-family: "Open Sans";
  font-weight: 300;
  color: #ddd;
  font-size: 16px;

 }

p > b { 
  font-family: "Open Sans";
  font-weight: 700; 
  color: #ddd;
  font-size: 16px;
}

button { 
  font-weight: 300;
  color: #ddd;
  background: none;
  border: 1px dotted white;

}

button:active, button:hover, button:focus,  { 
  
  outline:none;
  font-weight: 700;
  background-color: (255, 255, 255, .1);
}

.footer { 
  clear: both;
  position: absolute;
  bottom: 5px;
  text-align: center;
  font-size: 10px;
  padding-top: 10px;
  opacity: .5;
}

.axis text, .yaxis text { 
  font-family: "Open Sans";
}

.top-nav { 
  position: fixed;
  top: 0px;
  width: 100%;
  text-align: left;
  text-transform: uppercase;
  padding: 20px 0px 10px 0px;
}

.top-nav li  { 
  list-style: none;
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 14px;
}

.top-nav li i { 
  padding-right: 10px;
}

.top-nav a  { 
  color: white;
  opacity: .5;
}

.top-nav a:hover, .top-nav a:focus, .top-nav a:active  { 
  text-decoration: none;
  color: white;
  opacity: .8;
  font-weight: 700;
  border-bottom: 2px dotted white;
}

.I-90 { 
  color: #e7298a;
}
.I-93 { 
  color: #7570b3;
}
.I-95 { 
  color: #d95f02;
}
.I290 { 
  color: #66a61e;
}
.I495 { 
  color: #e6ab02;
}
.yr2006 { 
  color: #9e0142;
}
.yr2007 { 
  color: #d53e4f;
}
.yr2008 { 
  color: #f46d43;
}
.yr2009 { 
  color: #fdae61;
}
.yr2010 { 
  color: #fee08b;
}
.yr2011 { 
  color: #ffffbf;
}
.yr2012 { 
  color: #e6f598;
}
.yr2013 { 
  color: #abdda4;
}
.yr2014 { 
  color: #66c2a5;
}

.yr2015 { 
  color: #3288bd;
}

/*These elements are only visible to screen readers*/
.accessible
{ 
  position:absolute;
  left:-10000px;
  top:auto;
  width:1px;
  height:1px;
  overflow:hidden;
}

.inner-nav { 
  text-align: left;
}

.inner-nav i { 
  padding-right: 20px;
 }

.inner-nav a { 
  color: white;
  opacity: .5;
  padding-right: 20px;
}

.inner-nav a:hover,  .inner-nav a:focus   .inner-nav a:active{ 
  color: #e26a6a;
  opacity: 1;
  text-decoration: none;
}