
* {
	font-family:"Raleway", sans-serif;
  color: #ddd;
  font-weight: 300; 
}

html { 
  background-color: #191b1d; 
}

body { 
  background-color: #191b1d;
  z-index: -2; 
  height: 0;
}

h1 { 
  font-weight: 700; 
  font-size: 108px;
  line-height: .8;
}

h2 {
  font-weight: 700; 
  font-size: 24px;
  letter-spacing: 10px;
}

h3, h4 { 
  font-weight: 700;
  font-size: 18px;
  letter-spacing: 6px;
  line-height: 1;
  padding-bottom: -20px;
 }

p { 
  font-weight: 300;
  font-size: 12px;
  line-height: 1.3;
  opacity: .5;
}

p > b { 
  font-weight: 700; 
  color: #d53e4f;
  font-size: 18px;
  line-height: 1.3;
  opacity: 1;
}

div {
  position: relative;
  display: inline-block;
  background-color: none;
}

#map { 
  position: fixed; 
  top: 0;
  left: -200px; 
  z-index: -2;
}

@media screen and (max-width: 768px) {
/* Hide desktop navigation for mobile PHONE (small) screens */ 
  .desktop-nav{
    display: none;
  }

  #header { 
    text-align: left;
    text-transform: uppercase;
  }

  .icon-bar { 
    background-color: white;
    text-align: right;
  }

  .navbar-custom {
    font-size: 18px;
    float: right;
  }

  .navbar-custom .navbar-nav > li > a {
    color: #fff;
    padding: 20px;
    background-color: #212127;
    width: 100vw;
    text-align:left;
  }

  .navbar-custom .navbar-nav > li > a:hover,
  .navbar-custom .navbar-nav > li > a:focus {
    background-color: black;
  }

  .navbar-collapse { 
    width: 100vw;
  }
}

@media (min-width: 768px) and (max-width: 992px) {
/* Change desktop navigation for TABLET (medium) screens */ 
  .nav{
    display: none;
  }

  #header { 
    position: relative;
    text-align: left;
    text-transform: uppercase;
  }

  .desktop-nav { 
    text-align: left;
    position: relative;
  }

  .page_link { 
    position: relative;
    float: left;
    padding-top: 30px;
    padding-right: 20px;
    width: 23vw;
    height: 23vh;
  }

  .page_link i{ 
    display: none;
  }

  a { 
    font-weight: 700;
    font-size: 18px;
    color: rgba(255,255,255,.75);
    text-decoration: none;
    letter-spacing: 2px;
    text-transform: uppercase;
  }

    a:hover, a:focus, a:active { 
    outline: none;
    font-weight: 700;
    padding-left: 0px;
    border-bottom: dotted 1px white;
    text-decoration: none;
    color: rgba(255,255,255,1);
  }

  
}


@media (min-width: 992px) {
/* Styling for desktop (large) screens */
#header { 
  position: absolute;
  text-align: left;
  text-transform: uppercase;
}
  .nav{
    display: none;
  }

  .desktop-nav { 
    float: right;
    text-align: left;
    position: absolute;
    height: 90vh;
    right: 0;
    top: 30px;
  }

  .page_link { 
    height: 22vh;
    padding-top: 20px;
    padding-bottom: 30px;
  }

  a { 
    font-weight: 700;
    font-size: 16px;
    color: rgba(255,255,255,.75);
    text-decoration: none;
    letter-spacing: 2px;
    text-transform: uppercase;
  }

    a:hover, a:focus, a:active { 
    outline: none;
    font-weight: 700;
    padding-left: 0px;
    border-bottom: dotted 1px white;
    text-decoration: none;
    color: rgba(255,255,255,1);
  }

}

/* All */
.footer { 
  position: absolute;
  bottom: 0px;
  text-align: left;
  left: 0px;
}

.footer p { 
  font-size: 10px;
 }

.fa { 
  color: #ddd;
}

.good b, .good{
  color: #66bd63;
}

.demo b, .demo{ 
  color: white;
  font-size: 14px;
}

.unavailable b, .unavailable { 
  color: white;
  opacity: .3;
}

.meter { 
  height: 10px;  /* Can be anything */
  width: 150px;
  position: relative;
  background: #555;
}

.meter > span {
  display: block;
  height: 100%;
  background-color: rgb(43,194,83);
  background-image: linear-gradient(rgb(43,194,83) 37%, rgb(84,240,84) 69%);
  position: relative;
  overflow: hidden;
}
