
* {
	font-family:"Raleway", sans-serif;
  color: #ddd;
  font-weight: 300; 
}

html { 
  background-color: #191b1d; 
}

body { 
  background-color: #191b1d;
  z-index: -2; 
  height: 0;
}

#header { 
  position: absolute;
  padding-left: 50px;
  padding-top: 15px;
  text-align: left;
  text-transform: uppercase;
}

h1 { 
  font-weight: 700; 
  font-size: 96px;
  line-height: .8;
}

h2 {
  font-weight: 700; 
  font-size: 18px;
  letter-spacing: 10px;
  padding-left: 7px;
}

h3, h4 { 
  font-weight: 700;
  font-size: 18px;
  letter-spacing: 6px;
  padding-left: 7px;
  line-height: 1;
  padding-bottom: -20px;
 }

p { 
  font-weight: 300;
  font-size: 12px;
  line-height: 1.3;
  padding-left: 25px;
  opacity: .5;
  padding-bottom: 30px;
}

p > b { 
  font-weight: 700; 
  color: #d53e4f;
  font-size: 18px;
  line-height: 1.3;
  opacity: 1;
}

div {
  position: relative;
  display: inline-block;
  background-color: none;
}

#map { 
  position: fixed; 
  top: 0;
  left: -200px; 
  z-index: -2;
}

@media screen and (max-width: 768px) {
/* Hide desktop navigation for mobile PHONE (small) screens */ 
  .desktop-nav{
    display: none;
  }

  .icon-bar { 
    background-color: white;
    text-align: right;
  }

  .navbar-custom {
    font-size: 18px;
    float: right;
  }

  .navbar-header { 
    float: right;
  }

  .navbar-custom .navbar-nav > li > a {
    color: #fff;
    padding: 20px;
    background-color: #212127;
    width: 100vw;
    text-align:left;
  }

  .navbar-custom .navbar-nav > li > a:hover,
  .navbar-custom .navbar-nav > li > a:focus {
      background-color: black;
  }

  .navbar-collapse { 
    width: 100vw;
  }
}

@media (min-width: 768px) and (max-width: 992px) {
/* Change desktop navigation for TABLET (medium) screens */ 
  .nav{
    display: none;
  }

  .desktop-nav { 
    float: right;
    text-align: left;
  }

  a { 
    font-weight: 700;
    font-size: 18px;
    color: rgba(255,255,255,.75);
    text-decoration: none;
      letter-spacing: 2px;
    text-transform: uppercase;
  }

    a:hover, a:focus, a:active { 
    outline: none;
    font-weight: 700;
    padding-left: 0px;
    border-bottom: dotted 1px white;
    text-decoration: none;
    color: rgba(255,255,255,1);
  }

  
}


@media (min-width: 768px) {
/* Styling for desktop (large) screens */
  .nav{
    display: none;
  }

  .desktop-nav { 
    float: right;
    text-align: left;
  }

  a { 
    font-weight: 700;
    font-size: 16px;
    color: rgba(255,255,255,.75);
    text-decoration: none;
    letter-spacing: 2px;
    text-transform: uppercase;
  }

    a:hover, a:focus, a:active { 
    outline: none;
    font-weight: 700;
    padding-left: 0px;
    border-bottom: dotted 1px white;
    text-decoration: none;
    color: rgba(255,255,255,1);
  }

}

/* All */
.footer { 
  position: absolute;
  bottom: 0px;
  text-align: left;
  font-size: 10px;
}

.fa { 
  color: #ddd;
}

.good b, .good{
  color: #66bd63;
}

.unavailable b, .unavailable { 
  color: white;
  opacity: .3;
}

#progress-test {
  padding-right: 30%;
}

