div {
  position: relative;
  color: #fff;
  background-color: none;
  background: none;
}

div h3 {
  font-weight: 700;
  font-family: "Raleway";
}

#header h1 {
  font-size: 4.5em;
  font-weight: 700;
  font-family: "Raleway";
  text-transform: uppercase;
}

#header h3 {
  font-size: 1.75em;
  font-weight: 700;
  font-family: "Raleway";
  padding-bottom: -20px;
}

#map { 

  background: none;
}

.bigbutton {
    border: .5px solid white;
    color: white;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.0em;
    font-weight: 300;
}

.bigbutton:hover, .bigbutton:active, .bigbutton:focus {
    font-weight: 700;
    outline:none;
}
.yrpicker { 
  font-weight: 300;
}

.yrpicker:hover, .yrpicker:active, .yrpicker:focus {
    color: ;
    font-weight: 700;
    outline:none;
}
.d3-tip {
  line-height: 1;
  padding: 10px;
  background: rgba(0, 0, 0, 0.85);
  color: white;
  font-weight: 100;
  font-size: 12px;
  border-radius: 2px;
  z-index: 999;
}

.subregion { 
  fill: #e0e0e0;
    stroke: #fff;
    stroke-width: 1px;
}

.subregion:hover {
    fill: #666;
}

.hidden {
    display: none;
}

button {
    border: .5px solid white;
    color: white;
    width: 20%;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.125em;
}

.timeline { 
    border: .5px solid white;
    color: white;
    width: 10%;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.125em;
}




