div {
  position: relative;
  color: #fff;
}

div h3 {
  font-weight: 700;
  font-family: "Raleway";
}

#header h1 {
  font-size: 4.5em;
  font-weight: 700;
  font-family: "Raleway";
  text-transform: uppercase;
}

#header h3 {
  font-size: 1.75em;
  font-weight: 700;
  font-family: "Raleway";
  padding-bottom: -20px;
}

#map { 
  background: none;
}

.bigbutton {
    border: .5px dotted white;
    color: white;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    font-weight: 300;
}

.bigbutton:hover, .bigbutton:active, .bigbutton:focus {
    background-color: rgba(255, 255, 255, .1);
    font-weight: 700;
    outline:none;
}

.d3-tip {
  line-height: 1;
  padding: 10px;
  background: rgba(0, 0, 0, 0.85);
  color: white;
  font-weight: 100;
  font-size: 12px;
  border-radius: 2px;
  z-index: 999;
}

.subregion { 
  fill: #e0e0e0;
    stroke: #fff;
    stroke-width: 1px;
}

.subregion:hover {
    fill: #666;
}

button {
    border: .5px solid white;
    color: white;
    width: 20%;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.timeline { 
    border: .5px solid white;
    color: white;
    width: 10%;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

#facilities {
  margin-top:30px;
  width: 750px !important;
  height: 600px !important;
  overflow-x: scroll;
  overflow-y: scroll;
  margin-bottom: 30px;
}

#facilities2 {
  margin-top:30px;
  height: 600px !important;
  overflow-y: scroll;
  margin-bottom: 30px;
}

::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background-color: rgba(255, 255, 255, .2); 
}

::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, .2); 
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #aaa;
}
