
#div {
  position: relative;
  color: #fff;
}

div h3 {
  font-weight: 700;
  font-family: "Raleway";
}

#header h1 {
  font-size: 72px;
  font-weight: 700;
  font-family: "Raleway";
  text-transform: uppercase;
}

#header h3 {
  font-size: 24px;
  font-weight: 700;
  font-family: "Raleway";
  padding-bottom: -20px;
}

#citygradients { 
  position: relative;
  height: 60vh;
}
#adtgraph { 
  height: 80vh;
}

.d3-tip {
  line-height: 1.2;
  padding: 10px;
  background: rgba(0, 0, 0, 0.7);
  color: white;
  font-weight: 300;
  font-size: 12px;
  border-radius: 2px;
  text-align: center;
}

.subregion { 
  fill: #e0e0e0;
  stroke: #fff;
  stroke-width: 1px;
}

.subregion:hover {
    fill: #666;
}

.hidden {
    display: none;
}

.bigbutton {
    border: .5px solid white;
    color: white;
    width: 40%;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    font-weight: 300;
}

.bigbutton:hover, .bigbutton:active, .bigbutton:focus {
    font-weight: 700;
    outline:none;
}

.timeline { 
    border: .5px dotted white;
    color: white;
    width: 15%;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-weight: 300;
    font-size: 14px;
    -webkit-transition: background-color 1s;
    transition: background-color 1s;
}

.timeline:hover, .timeline:active, .timeline:focus {
    font-weight: 700;
    outline:none;
}

.inner-nav { 
  text-align: left;
}

.inner-nav i { 
  padding-right: 20px;
 }

.inner-nav a { 
  color: white;
  opacity: .5;
  padding-right: 20px;
}

.inner-nav a:hover,  .inner-nav a:focus   .inner-nav a:active{ 
  color: #e26a6a;
  opacity: 1;
  text-decoration: none;
}

.townpicker { 
    border: 0px;
    color: white;
    font-weight: 300;
    margin: 3px 1px 3px 1px;
    text-align: left;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
}

.townpicker:hover, .townpicker:focus, .townpicker:active, .timeline:hover, .timeline:focus, .timeline:active{ 
    outline:none;
    font-weight: 700;
    color: #e26a6a;
    border-bottom: dotted 1px white;

}

@media (min-width:992px) {
/* Desktop styling buttons */
.townpicker { 
    width: 9%;
}


