div {
  position: relative;
  color: #fff;
}

div h3 {
  font-weight: 700;
  font-family: "Raleway";
}

#header h1 {
  font-size: 72px;
  font-weight: 700;
  font-family: "Raleway";
  text-transform: uppercase;
}

#header h3 {
  font-size: 24px;
  font-weight: 700;
  font-family: "Raleway";
  padding-bottom: -20px;
}

#map { 

  background: none;
}

.bigbutton {
    border: .5px solid white;
    color: white;
    width: 40%;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    font-weight: 300;
}

.bigbutton:hover, .bigbutton:active, .bigbutton:focus {
    font-weight: 700;
    outline:none;
}
.yrpicker { 
  font-weight: 300;
}

.yrpicker:hover, .yrpicker:active, .yrpicker:focus {
    color: ;
    font-weight: 700;
    outline:none;
}
.d3-tip {
  line-height: 1;
  padding: 10px;
  background: rgba(0, 0, 0, 0.85);
  color: white;
  font-weight: 100;
  font-size: 12px;
  border-radius: 2px;
  z-index: 999;
}

.subregion { 
  fill: #e0e0e0;
    stroke: #fff;
    stroke-width: 1px;
}

.subregion:hover {
    fill: #666;
}

.hidden {
    display: none;
}

button {
    border: .5px solid white;
    color: white;
    width: 20%;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.timeline { 
    border: .5px solid white;
    color: white;
    width: 10%;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

#timeVsSpeed{
  clear: both;
  float:left;
}
#congAnim { 
  clear: both;
  margin: 10px 0px;
}

#congAnim:hover, #congAnim:active, #congAnim:focus {
    color: #e26a6a;
    font-weight: 700;
      outline:none;
}

.inner-nav { 
  text-align: left;
}

.inner-nav i { 
  padding-right: 20px;
 }

.inner-nav a { 
  color: white;
  opacity: .5;
  padding-right: 20px;
}

