div {
  color: #fff;
  overflow:hidden;
  float: left;
}

div h3 {
  font-weight: 700;
  font-family: "Raleway";
}

#header h1 {
  font-size: 72px;
  font-weight: 700;
  font-family: "Raleway";
  text-transform: uppercase;
}

#header h3 {
  font-size: 24px;
  font-weight: 700;
  font-family: "Raleway";
  padding-bottom: -20px;
}

#citygradients { 
  position: relative;
  height: 60vh;
}

.d3-tip {
  line-height: 1;
  padding: 10px;
  background: rgba(0, 0, 0, 0.7);
  color: white;
  font-weight: 100;
  font-size: 12px;
  border-radius: 2px;
}

.subregion { 
  fill: #e0e0e0;
    stroke: #fff;
    stroke-width: 1px;
}

.subregion:hover {
    fill: #666;
}

.hidden {
    display: none;
}

.bigbutton {
    border: .5px solid white;
    color: white;
    width: 25%;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.timeline { 
    border: .5px solid white;
    color: white;
    width: 10%;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.townpicker { 
    border: 0px;
    color: white;
    font-weight: 300;
    padding: 5px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
}

.townpicker:hover, .townpicker:focus, .townpicker:active{ 
    outline:none;
    color: #e7298a;
    font-weight: 700;
    font-size: 14px;

}

.badCond { 
  color: #ff6347;
}
.goodCond { 
 color: #26a65b; 
}

.weeny { 
  font-size: 35%;
}

i { 
  padding: 0px 10px;
  vertical-align: center;
}